<h1>Welcome to <span style="color: #191970">Blue-Magpie Acebook!</span></h1><br>
<h2>Log In</h2>

<div class="form_container">
  <%= form_tag '/login', local: true do %>
    <div class="form_input">
      <%= text_field_tag :email, "Enter your E-mail address" %><br>
    </div>
    <div class="form_input">
      <%= password_field_tag :password, "Enter your password" %><br>
    </div>
    <div class="input" style="position: relative; left: 33%; margin: 0 auto">
    <%= submit_tag "Log In" %>
    </div>
  <% end %>
</div>